<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Initial parameters for position in gazebo world -->

<!--   <arg name ="x" default="0"/>
  <arg name ="y" default="0"/>
  <arg name ="z" default="10.5"/> -->

  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find abrobot_gazebo)/worlds/test4.world"/>
<!--     <arg name="world_name" value="$(find abrobot_gazebo)/worlds/turtlebot_playground.world"/> -->
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find abrobot_description)/urdf/robot2.xacro'"/>

  <node name="abrobot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param robot_description -model abrobot" />


<!--   <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/> -->

</launch>