<?xml version="1.0" encoding="UTF-8"?>
<launch>

<!--   <arg name="joy_config" default="ps3" />
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="config_filepath" default="$(find base_controller)/config/$(arg joy_config).config.yaml" /> -->
  
  <!-- Joy Driver -->
<!--   <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.3" />
    <param name="autorepeat_rate" value="20" /> -->
    <!-- <remap from="joy" to="first_joy"/> -->
  <!-- </node> -->

  <!-- Joy Driver -->
  <node pkg="ps3joy" type="ps3joy.py" name="ps3joy" output= "screen"/>

  <!-- <node pkg="joystick_remapper" type="joystick_remapper.py" name="remapper" > 
      <remap from="joy_source" to="second_joy" /> 
      <remap from="joy_dest" to="joy" /> 
      <param name="button_mapping" type="string" value="8 11 12 9 15" />
      <param name="axis_mapping" type="string" value="=" />
  </node> -->
  
  <!-- Joy Teleop -->
<!--   <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy" >
    <rosparam command="load" file="$(arg config_filepath)" />
  </node> -->

</launch>